<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatchMates</title>
    <!-- Vuetify CDN -->
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.7.1/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>

<div id="app">
    <v-app>
		<v-toolbar color="grey darken-3" width="100%" absolute dark>
            <v-toolbar-title>MatchMates</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn text :href="'./index.html'">Group Guard Pairing</v-btn>
            <v-btn text :href="'./universalpairing.html'">Universal Pairing</v-btn>
            <v-btn text :href="'./clustercreating.html'">Cluster Creating</v-btn>
        </v-toolbar>
        <v-container :style="{ 'padding-top': '120px' }">
			<h1>ClusterCreating</h1>
            <v-row>
                <v-col cols="12">
                    <v-textarea label="Members" v-model="members" placeholder="Please enter all members separated by commas." class="mt-5 pa-2" outlined></v-textarea>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" md="4">
                    <v-text-field label="Number of Groups" v-model="numGroups" type="number" class="pa-2" outlined></v-text-field>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12" class="text-center">
                    <v-btn @click="generateGroups"  class="grey darken-2 white--text">Generate Groups</v-btn>
                </v-col>
            </v-row>
            <v-row>
                <v-col cols="12/group" v-for="(group,index) in groups" :key="group.toString()">
                    <v-card>
                        <v-card-title class="grey darken-2 white--text">
                            Group {{ index + 1 }}
                        </v-card-title>
                        <v-card-text class="pa-4" color="black">
                            {{ group.join(', ') }}
                        </v-card-text>
                    </v-card>
                </v-col>
            </v-row>
        </v-container>
    </v-app>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.7.1/dist/vuetify.js"></script>
<script>
	function seededRandom(seed) {
        var x = Math.sin(seed++) * 10000;
        return x - Math.floor(x);
    }

    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
			seed: new Date().getDate(),
			currentDate: new Date(),
            members: 'am, kd, tk, pk, st, km, nd, tm, mr, sn, eg',
            numGroups: 3,
            groups: []
        },
		computed: {
			formattedDate: function() {
				// Format the date in the format 'YYYY-MM-DD'
				return this.currentDate.toISOString().split('T')[0];
			}
		},
        methods: {
            shuffleArray(array) {
                for (let i = array.length - 1; i > 0; i--) {
                    const j = Math.floor(seededRandom(this.seed) * (i + 1));
                    [array[i], array[j]] = [array[j], array[i]];
                }
            },
            generateGroups() {
                let membersArray = this.members.split(',').map(item => item.trim());
                this.shuffleArray(membersArray);

                this.groups = [];
                const groupSize = Math.ceil(membersArray.length / this.numGroups);

                for (let i = 0; i < this.numGroups; i++) {
                    this.groups.push(membersArray.splice(0, groupSize));
                }
            }
        },
		mounted() {
			this.generateGroups();
		}
    });
</script>
</body>
</html>
